
/* ===================
about-my-story
==================== */
#aboutme,
#mystory {
  padding-bottom: 0;
}

.about-card {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.about-card__media {
  order: -1;
  padding: 40px;
}

.about-card__media img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.about-card__content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.about-card__content ul {
  /* text-align: center;
list-style-type: none; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.about-card__story {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
}

/* ===================
about-skills-tools
==================== */
#skills-tools .column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

ul.skill-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-position: inside;
  column-gap: 2em;
  row-gap: 1em;
  list-style-type: none;
  width: 100%;
  justify-content: center;
}

.skill-list li {
  padding: 0.5em;
  background-color: aliceblue;
  border: radius 10px;
  row-gap: 0.5em;
}

@media (min-width: 640px) {
  .about-card {
    flex-direction: row;
  }
}

.about-card > * {
  width: 100%;
}

.about-card__content {
  justify-content: center;
}

.about-card__content h1 {
  text-align: left;
}

.skill-list {
  margin-inline: auto;
  width: 65ch;
}
