/* ===================
contact.html
==================== */


#contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    background-color:#CBFF88;
    color: #3A5185;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
 
   
   
}

button:hover {
    background-color: #3A5185;
    color: #CBFF88;
}



/* ===================
context
==================== */
.contact-content{
   margin: auto;
   padding: 20px;
   
    list-style: none;
}

#contact-info{
    padding-bottom: 0;
    padding:auto;
}

