
#hero {
    background-color: #CBFF88;
  
  }
  
  #hero p {
    margin: 0;
  
  }
  
  #hero .container {
    gap: 2em;
  }
  

  .index-title{
    text-align: center;
  }

  
  .all-projects{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  
  }

  @media (max-width: 450px){
    .all-projects .button{
      width: 100%;
      text-align: center;
    }

  }