* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #474748;
  font-family: 'Lato', sans-serif;
}

.subtitle {
  font-size: 2.8rem;
  font-weight: 400;
  color: #5D5D5D;
  line-height: 1.6;
  display: block;

}

h1 {
  color: #3A8285;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

h2 {
  color: #3A5185;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

h3 {
  color: #3A8285;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

h4,
.h4 {
  color: #3A8285;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

img {
  width: 100%;
}

.button-container {
  text-align: center;
}


.button {
  display: inline-block;
  background-color: #CBFF88;
  color: #3A5185;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 2px solid #B6CFFF;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  align-items: center;
  
}

.button:visited {
  color: #3A5185;
}

.button:hover,
.button:focus {
  opacity: 0.7;
  transition-duration: 0.8s;
}

.button:active {
  font-weight: 700;
}

a {
  color: #c9c9c9;
}

a:visited {
  color: #3A5185;
}

a:hover,
a:focus {
  color: #CBFF88;
}

a:active {
  color: #3A8285;
}

/* ===================
HEADER Styling
==================== */
header {
  background-color: #313165;
  opacity: %;
  padding: 10px 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
}

header .container {
  gap: 1em;
  align-items: center;
}

a.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5D5D5D;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #efefef;
}

nav .active{
  color: #CBFF88 !important;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* ===================
Layout Styling
==================== */

main {
  /* padding-top: 120px; */
  padding-top: 84px;

}

.container {
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;

}

section {
  padding-block: 6rem;
}






/* ===================
Social-Footer
==================== */

.social {
  display: flex;
  align-items: center;
  gap: 1em;
}

.social a {
  text-decoration: none;
  line-height: 0;
  background: #efefef;
  padding: 1rem;
  border-radius: 50vw;
  transition: all 0.3s ease-in-out;
}

.social svg {
  width: 3rem;
}

.social a:hover svg {
  fill: #efefef;
}

footer .container {
  align-items: center;
  text-align: center;
  border-top: 2px solid #3A5185;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

/* ===================
Header-logo
==================== */
.logo-style{
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 700;
  color:#474748;
  font-family: "lobster Two";
}



/* ===================
project page
==================== */

.hero-content {
  text-align: center;
}

.project-intro {
  display: flex;
  gap: 4rem;
}

.project-intro > * {
  width: 33.33%;
}

.project-details {
  display: flex;
  gap: 4rem;
}

.project-details > * {
  width: 50%;
}

#overview {
  padding-block-end: 0;
}
#overview .container {
  gap: 4rem;
}
/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero span {
    display: block;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

