html {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #5D5D5D;
  font-family: 'Inter';

}

// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 400, 600, 700,;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #5D5D5D;
}

h1 {
  background-color: #fff;
  color: #3A5185;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
}

.h4 {
  background-color: #fff;
  color: #3A8285;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #7ACCCF;
  color: #3A5185;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3A8285; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
}


.button:active {
  text-decoration: none;
  font-weight: 700;
}


a { color: #000; text-decoration: none; }
a:hover {
  color:#3A8285;
  font-weight: 400;
}
a:active {
  color:#3A8285;
  font-weight: 700;
  background-color: #fff;
}